@{
    ViewData["Title"] = "";
}

<h1 style="text-align: center; margin-top: 50px; font-family: 'Col Font', sans-serif;">Learn about Ryan's Dope Hobby: Playing Sports!</h1>

<h2 style="text-align: center; margin-top: 30px; font-family: 'Col Font', sans-serif;">What A Rush!</h2>

<img src="~/imgs/catinthehat.gif" style="max-width: 300px; margin: 20px auto; display: block;" />

<p style="text-align: center; margin: 20px auto; font-family: 'Col Font', sans-serif;">There are a lot of things that I love doing in life. One thing that I love doing that I would consider a hobby is playing sports. I love playing all the sports out there. In high school, I participated in basketball, volleyball, soccer, cross country, and track. I love playing sports on teams, in clubs, or just with friends. It helps me relieve stress and helps me connect with others in a healthy way.</p>

<p style="text-align: center; margin: 20px auto; font-family: 'Col Font', sans-serif;">My favorite sport to play with friends is probably basketball. There is not greater feeling that being able to dribble the ball all around and put it in the hoop. I also love soccer though. Serving a mission in England, I played a lot of soccer and grew to really love it. During the summertime, I also love playing volleyball out in the sand with a bunch of friends. And although I am currently not in the greatest running shape, I do love being able to run long distance.</p>

<img src="~/imgs/sports.jpg" style="max-width: 400px; margin: 20px auto; display: block;" />



